# Python bytecode files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IDE specific files (VS Code)
.vscode/

# Model files (if you don't want to include them in version control)
models/*.joblib

# Data files (to avoid large datasets being uploaded to GitHub)
data/cases_clean.parquet
data/prec_full.csv

# Log files
*.log

# Temporary files
*.tmp
*.swp
